{% extends "base_home.html.twig" %}

{% block body %}
	<div class="homeLogoPosition">
		<a href="{{ path('mainpage') }}"><img class="homeLogoVetr" src="{{asset('assets/images/thumbnail.jpg')}}"></a>
	</div>
{% endblock %}
